.form-div {
  margin-top: 1rem;
  padding-bottom: 1rem;
  background-color: #101820ff;
  color: #fee715ff;
  border-radius: 10px;
}

.form-title {
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid #fee715ff;
}
